.header {
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  color: var(--white);
  text-shadow: 0 0 10px var(--blue), 0 0 10px var(--blue), 0 0 10px var(--blue),
    0 0 10px var(--blue), 0 0 10px var(--blue);
}

.links {
  display: flex;
  flex-direction: color;
  width: auto;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 .5rem;
  font-weight: bold;
  padding: 0.5rem 0;
  color: var(--white);
}

.link_border {
  border: 1px solid var(--magenta);
  padding: .6rem 1rem;
}