.wrapper_post{
    margin: 1rem auto;
    width: 99%;
    
    border: 1px solid var(--black-shadow);
    transition: all .2s ease-in;
}
.wrapper_post:hover{
    box-shadow: 0 0 36px var(--gray-op2);
    background-color: var(--gray-op2);
    width: 100%;
}
.left_section{
    display: flex;
    flex-direction: column;
    padding: .3rem;
    width: 50%;
}
.post_info{
    display: flex;
}
.title{
    color: var(--bg-body);
    font-size: 1rem;
    margin: .2rem;
    line-height: 1.1;
    /* white-space: nowrap; */
    /* overflow: hidden; */
}
.info{
    padding: 0 .3rem;
    font-size: .8rem;
    color: rgb(138, 110, 21);
}
